[package]
name = "libreauth"
version = "0.6.0"
authors = ["Rodolphe Breard <rodolphe@what.tf>", "YetAnotherMinion <yam@thinkalexandria.com"]
description = "Collection of tools for user authentication."
documentation = "https://what.tf/libreauth/"
repository = "https://github.com/breard-r/libreauth"
readme = "README.md"
keywords = ["authentication", "2fa", "otp", "hotp", "totp"]
license = "CECILL-2.1"
include = ["src/**/*", "Cargo.toml", "LICENSE.txt"]

[lib]
name = "libreauth"
crate-type = ["rlib", "dylib"]

[features]
cbindings = ["libc"]

[dependencies]
rustc-serialize = "^0.3.15"
ring = "0.7.5"
base32 = "^0.3.0"
time = "^0.1.31"
rand = "0.3.15"

[dependencies.libc]
version = "^0.1.8"
optional = true
